body{
  margin: 0px;
  padding: 0px;
}

.main{
 min-height: 100vh;
}

main{
  flex:1
}
.image-smaller{
  width: 40%;
}
.image-fluid{
  height: 10vh;
}
.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product{
  margin: 10px;
}
.icons{
  color:#ffc000;
}
.button{
  background-color: #ffc000;
  color: #111;
}
.product img{
  width: 100%;
  max-width: 400px;
}

.product{
  border: 1px #111 solid;
}
.product a{
  text-decoration: none;
}

.productInfo {
  padding: 10px;
}